:root {
  --color-bg-gradient: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  --color-bg-gradient-2: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);
  --color-bg: #ebf2f5;

  --color-text: #fff;

  --color-primary: #15c3d6;
  --color-primary-light: #17d6eb;
  --color-primary-lighter: #96feff;
  --color-primary-dark: #12afcb;
  --color-primary-darker: #0089a5;
  --color-primary-border: #96d2f0;

  --color-secondary: #ffd666;
  --color-secondary-dark: #8d734b;

  --color-success: #3cdc8c;
  --color-success-dark: #36cf82;
  --color-success-darker: #37c77f;
  --color-success-light: #a1e9c5;
  --color-success-lighter: #edfff6;

  --color-border: #d3e2e5;
  --color-title-darker: #4d6f80;
  --color-title: #5c8599;
  --color-label: #8fa7b3;
  --color-input: #f5f8fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
}

body,
input,
button,
textarea {
  font: 600 18px 'Nunito', sans-serif;
}
